.card {
  border-radius: 20px;
  background: #011a1d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  box-shadow: inset 0px 0px 1px 1px rgb(19 71 67 / 50%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#011214),
    to(#453d4f)
  );
}
.card:hover {
  box-shadow: inset 0px 0px 15px 15px rgb(185 158 189 / 30%);
  transition: all 0.7s linear;
}
.cocktailPhoto {
  width: 85%;

  img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
  }
}
.cocktailName h1 {
  // font-family: 'Bandriya';
  font-family: 'Barbie Love';
  font-size: 30px;
  font-weight: 100;
}

// background: -webkit-gradient(linear, left top, left bottom, from(#011214), to(#453d4f));
