.card {
  border: 1px solid #387178;
  border-radius: 20px;
  background: #011a1d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
}
.cocktailPhoto {
  width: 85%;

  img {
    // max-width: 200px;
    // max-height: 160px;
    width: 100%;
    border-radius: 10px;
    // width: 140px;
    object-fit: cover;
    object-position: top;
  }
}
.cocktailName h1 {
  font-family: 'Bandriya';
  font-size: 20px;
}
