@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: local('Yanone Kaffeesatz'),
    url('../public/fonts/YanoneKaffeesatz-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bandriya';
  src: local('Bandriya'), url('../public/fonts/Bandriya.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
